<!DOCTYPE html>
<html>
  <head>
    <title>Libraily</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
       
        <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
        <% if !current_user %>
          <a class="navbar-brand" href="<%= new_user_path %>"/>Sign Up</a>
          <%= link_to "Log in", signin_path, class:"navbar-brand" %>
        <% end %>
        <% if current_user %>
          <%= link_to "#{current_user.first_name}'s profile", user_path(current_user), class:"navbar-brand"%>
          <%= link_to "Libraries", libraries_path, class:"navbar-brand" %>
          <%= link_to "Books", books_path, class:"navbar-brand" %>
          <div class="right"><%= button_to "Log Out", logout_path, class:"navbar-brand",method:'delete' %> </div>
        <% end %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content -->
    <div class="container"  role="main">
      <div class="center">

        <div class="info">
          <%= yield %>
          </div>
        </div>
    </div>
  </body>
</html>
